$piece-height: 300px;

.piece {
  border: 1px solid blue;
  background-color: black;
  height: $piece-height;
  width: 45%;
  cursor: pointer;
}

.piece-thumbnail-container {
  position: relative;
  overflow: hidden;
}

.piece-thumbnail {
  height: 80%;
  transition: all .3s ease-in-out;
}

.piece:hover .piece-thumbnail {
  transform: scale3d(1.2, 1.2, 1);
}

.piece-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $piece-height;
  color: white;
  background: rgba(0,0,0,0.7);
  visibility: hidden;
}

.piece-caption div {
  position: absolute;
  padding-left: 10;
  padding-right: 10;
  transition: all .2s ease-in-out;
}

.piece-caption .summary {
  left: -500;
  top: 15%;
}

.piece-caption .build-details {
  bottom: 25%;
  right: -500;
}

.piece:hover .summary {
  left: 0;
}

.piece:hover .build-details {
  right: 0;
}



.piece-title {
  height: 20%;
  color: white;
  text-align: center;
  padding-top: 10px;

  h1 {
    margin: 0;
  }
}
