$piece-height: 300px;

.piece {
  display: block;
  text-decoration: none;
  border: 1px solid blue;
  background-color: black;
  height: $piece-height;
  width: 45%;
  cursor: pointer;
}

.piece-thumbnail-container {
  position: relative;
  overflow: hidden;
}

.piece-thumbnail {
  height: 80%;
  transition: all .3s ease-in-out;
}

.piece:hover .piece-thumbnail {
  transform: scale3d(1.2, 1.2, 1);
}

.piece-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $piece-height;
  color: white;
  background: rgba(0,0,0,0.7);
  visibility: hidden;
}

.piece-caption div {
  padding: 10;
  padding-top: 25;
  margin-bottom: 20;
  text-align: center;
  opacity: 0;
  transition: opacity .55s ease-in-out;
}

.piece:hover .piece-caption div {
  opacity: 1;
}

.piece-caption .summary {

}

.piece-title {
  height: 20%;
  color: white;
  text-align: center;
  padding-top: 10px;

  h1 {
    margin: 0;
  }
}
