.piece {
  border: 1px solid blue;
  background-color: black;
  height: 300px;
  width: 45%;
}

.piece-thumbnail {
  height: 80%;
}

.piece-title {
  height: 20%;
  color: white;
  text-align: center;

  h1 {
    margin: 0;
  }
}
